language: objective-c
osx_image: xcode10.2
cache:
  bundler: true
  cocoapods: true
  directories:
    - ~/.rvm
    - ~/.cocoapods
    - ~/Library/Caches/CocoaPods
    - .bundle
    - vendor
env:
  global:
    - SDK='iphonesimulator11.2'
    - SCHEME='RealmS'
    - WORKSPACE='RealmS.xcworkspace'
    - DESTINATION='OS=11.2,name=iPhone 7'
    - CONFIGURATION='Debug'
install:
  - set -o pipefail
  - ./scripts/install
script:
  - export REPO_SLUG="$TRAVIS_REPO_SLUG"
  - export SRC_BRANCH="$(./scripts/src_branch)"
  - export PR_NUMBER="$(./scripts/pr_number)"
  - ./scripts/tests/lint
  - ./scripts/tests/pod
notifications:
  email: false
after_success:
  - ./scripts/codecov
