language: objective-c
osx_image: xcode8
cache:
  - cocoapods
env:
  global:
    - WORKSPACE="RealmS.xcworkspace"
    - SCHEME="Framework"
    - SDK="iphonesimulator10.0"
  matrix:
    - DESTINATION="OS=8.1,name=iPhone 6"  POD_LINT="NO"
    - DESTINATION="OS=10.0,name=iPhone 6" POD_LINT="YES"
before_install:
  - set -o pipefail
  - gem install xcpretty
  - gem install cocoapods --pre
  - pod repo update
  - pod install
script:
  # test Debug
  - xcodebuild -workspace "$WORKSPACE" -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION" ONLY_ACTIVE_ARCH=YES GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES -configuration Debug build test | xcpretty -c
  # test Release
  - xcodebuild -workspace "$WORKSPACE" -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION" ONLY_ACTIVE_ARCH=YES GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES -configuration ReleaseTest build test | xcpretty -c
  # pod lint if needs
  - if [ $POD_LINT == "YES" ]; then pod lib lint --quick; fi
notifications:
  email: false
after_success:
  - bash <(curl -s https://codecov.io/bash)
