language: objective-c
osx_image: xcode8
cache:
  bundler: true
  cocoapods: false
  directories:
    - ~/.rvm
    - ~/.cocoapods
    - ~/Library/Caches/CocoaPods
    - .bundle
    - vendor
env:
  global:
    - WORKSPACE='RealmS.xcworkspace'
    - SCHEME='Framework'
    - SDK='iphonesimulator10.0'
    - DESTINATION='OS=10.0,name=iPhone 6'
install:
  - set -o pipefail
  - brew update
  - ./scripts/setup
  # workaround https://github.com/realm/SwiftLint/issues/13
  - ln -s /Applications/Xcode-8.app /Applications/Xcode.app
script:
  - ./scripts/validate_branch
  - ./scripts/lint
  - ./scripts/test
  - ./scripts/pod_test
  - bundle exec pod lib lint --quick
notifications:
  email: false
after_success:
  - ./scripts/codecov
